In [ ]:
import pandas as pd
import os
from tqdm import tqdm
import pymysql
import random
import time
import numpy as np

import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta

In [ ]:

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='1111', db='movie', charset='utf8')

cursor = db.cursor()

In [ ]:
# cursor.execute("select * from maintain")
# a=input("enter the date: ")
# sql = "select * from mer where `日期` =%s AND `影廳` = 'C1 (SX-2000'"
sql = "select * from mer where  `影廳` = 'C1 (SX-2000'"
cursor.execute(sql)
columns = [desc[0] for desc in cursor.description]
rows=cursor.fetchall()

In [ ]:
df = pd.DataFrame(columns=columns, data = r)

In [ ]:
plt.plot(df['日期'],df['5. Sdd-轉速'])
plt.xticks( rotation='vertical')